<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">  
        <h4>Kindle</h4>
      </div>
      <div class="col-md-5">
        <%= link_to "Import from Kindle", new_kindle_raw_clipping_path(@user), class: "btn btn-default btn-small" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p> 
      You have uploaded <strong><%= kindle_raw_clippings.count %></strong>
      raw clipping files from your Kindle.
      <%= link_to "#", rel: "tooltip", data: { toggle: "tooltip", placement: "top" }, 
                       title: "These may eventually be limited in number based on resource constraints." do %>
        <span class="glyphicon glyphicon-question-sign"></span>
      <% end %>
    </p>
  </div>
  <ul class="list-group">
    <% kindle_raw_clippings.each_with_index do |clipping, idx| %>
      <li class="list-group-item">
        <%= [idx, clipping.created_at].join(" -- ") %> 
      </li>
    <% end %>
  </ul>
</div>