<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-7">
        <h4>Text Files</h4>
      </div>
      <div class="col-md-5">
        <%= link_to "Export as Text File", "#", rel: "tooltip", data: { toggle: "tooltip", placement: "top" },
          title: "Not working yet sorry!",
          #user_text_export_index_path(@user),
          class: "btn btn-default btn-small" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>Export all of your notes as a .zip file. Each note will be organized into folders by book.</p>
  </div>
</div>
