<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="page-header">
      <h1>ActiveReader <small>Super Alpha Version</small></h1>
    </div>
    <%= render 'shared/topnav' %>
  </div>
  <div class="col-md-2">
    <%= render 'shared/user_links' %>
  </div>
</div>
