<div class="row">
  <div class="col-md-12 navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span> HOME
        <% end %>
      </li>
      <li>
        <%= link_to about_path do %>
          <span class="glyphicon glyphicon-globe"></span> ABOUT
        <% end %>
      </li>
    </ul>
  </div>
</div>