<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div id="topnav" class="navigation">
      <ul class="nav nav-tabs nav-justified">
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span> HOME
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
            <span class="glyphicon glyphicon-globe"></span> ABOUT
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>