<br/>
<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">What is ActiveReader?</h2>
  </div>
  <div class="panel-body">
    <p>
      ActiveReader is an app with the goal of helping everyone read better. 
      Inspired by the text 
      <%= link_to "How to Read a Book", "http://www.amazon.com/How-Read-Book-Touchstone-book-ebook/dp/B004PYDAPE", target: "_blank" %>,
      by, 
      <%= link_to "Mortimer J. Adler", "http://en.wikipedia.org/wiki/Mortimer_J._Adler", target: "_blank" %>,
      the plan is to build a suite of tools to enable one to follow the practices
      outlined in the book.
    </p>
  </div>
</div>
<br/>
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">What can I do with ActiveReader?</h2>
  </div>
  <div class="panel-body">
    <p>
      The plan for ActiveReader is grand, but its beginnings are humble.
      Right now you can upload your clippings.txt file from your Kindle and
      sort them into collections by book. These can then be downloaded
      in different file formats or sent to your Evernote account.
    </p>
  </div>
</div>
<br/>
<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">What is "Reading to Understand"?</h2>
  </div>
  <div class="panel-body">
    <p>
      "Reading to Understand" is the philosophy of Adler's book, which 
      you should probably read if you plan on becoming a serious reader of other
      books. At the very least I suggest you read Shane Parrish's series of blog
      posts on it over at 
      <%= link_to "Farnam Street", "http://www.farnamstreetblog.com/how-to-read-a-book/", target: "_blank" %>.
    </p>
  </div>
</div>