<br/>
<div class="jumbotron text-center">
  <h1>Welcome to ActiveReader!</h1>
  <p>
    Reading != Passive Activity
  </p>
  <p>
    <%= link_to "Start Reading to Understand", about_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>



