<br/>
<div class="jumbotron text-center">
  <h1>Welcome to AdlerReader!</h1>
  <p>
    We read every day. We do it very poorly. Let's stop that.
  </p>
  <p>
    <%= link_to "Start Reading to Understand", about_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>



