<div class="page-header text-center">
  <h2>User Dashboard</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Imported Notes</h3>
    <%= render 'user/dashboard/panels/kindle_raw_clipping_imports', kindle_raw_clippings: @kindle_raw_clippings %>
    <%= render 'user/dashboard/panels/kindle_book_imports', kindle_books: @kindle_books %>
  </div>

  <div class="col-md-6">
    <h3>Exported Notes</h3>
    <% if @user.evernote_linked? %>
      <%= render 'user/dashboard/panels/evernote_exports', user: @user, note_titles: @note_titles %>
    <% else %>
      <span class="glyphicon glyphicon-warning-sign"></span>
      <span class="text-danger">You need to connect to Evernote via your account page.</span>
    <% end %>
  </div>
</div>

